<div class="ArtifactComments span4 pull-left">
	<div class="ArtifactCommentsInner">
		<div class="CommentTable22">
			<table class="table table-striped table-hover">
				<caption class="CommentsHeader">
					<strong>Artifact Z Comment</strong> 
					<div class="CommentsClose"><strong>hide</strong></div>
				</caption>
				<thead>
					<tr>
						<th>Location</th>
						<th>Comment</th>
						<th>Author</th>
					</tr>
				</thead>
				<tbody>
					<tr class="ACTR">
					  	<td>1</td>
					  	<td>Surname pronosiations sucks. Loreum ipsum ficksum doloreum rectum artum. Quick red fox jumps over lazy sheep</td>
					  	<td  class="ACTC">Alex 									 	<div class="ACTRActionPanel">						
							<%= image_tag('icon_32/delete_32.png', alt:"stub", class: "ActionElement") %>
						</div></td>

					</tr>
					<tr  class="ACTR">
						<td>22</td>
						<td>Looks nice</td>
						<td  class="ACTC">John
							<div class="ACTRActionPanel">						
							<%= image_tag('icon_32/delete_32.png', alt:"stub", class: "ActionElement") %>
						</div>
						</td>

					</tr>
					<tr  class="ACTR">
						<td>33</td>
					  	<td>Bullshit</td>
					  	<td class="ACTC">Mr. Trollolo									 	<div class="ACTRActionPanel">						
							<%= image_tag('icon_32/delete_32.png', alt:"stub", class: "ActionElement") %>
						</div></td>
				
					</tr>
				</tbody>
			</table>
		</div>
		<div class="input-append row-fluid">
			<input class="span2" id="appendedInputButton" type="text">
			<input class="span8" id="appendedInputButton" type="text">
			
			<button class="btn"  type="button">Submit</button>
		</div>
	</div>
</div>