<div class="row-fluid">
  <div class="span12">
  <h1 style="text-align: center;">Users List</h1>
  <ul class="thumbnails" id="UserList"  >
    <%= render partial: 'users/user_compact', collection: @users, as: :user %>
  </ul>
  </div>
</div>