<div class="row-fluid">
  <div class="span12">
  <ul class="UserList" style="list-style: none;" >
    <%= render partial: 'users/user', collection: @users, as: :user, spacer_template: 'users/user_divider' %>
  </ul>
  </div>
</div>