<div class="row-fluid">
  <div class="span12">

    <% if @campaigns.any? %>

        <% @campaigns.each do |c| %>
            <% if can? :read, c %>

                <%= render 'campaigns/campaign', campaign: c %>

            <% end %>
        <% end %>
    <% else %>
        <%= content_tag :h3, "There are no campaigns yet"%>
        <% if can? :create, Campaign %>
            <%= content_tag :h3, link_to('Create campaign',new_campaign_path) %>
        <% end %>
    <% end %>
  </div>
</div>