// Place all the styles related to the Artifacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ArtifactInspection{
	 
}
.ArtifactPreview{
   //min-height: 450px;
 }
/*body{
	margin-top:4em;
}
.NavigationHeader{
	position: absolute;
	top:0px;
}*/

.Artifact{
	border: 1px solid #a4b1c9;
	/*margin: 0px 0px 10px 0px;*/
	width: 12em;
	padding: 5px;
	/*height: 4em;*/
	position: relative;
	margin-bottom: 0px; /*overriding bootstrap properties for well, since or artifact also well*/
}
.Artifacts {
	/*For mozilla does not work without this statement((*/
	//max-height: 450px;
	
}
.Artifacts .thumbnail{
	border-color: transparent;
	padding: 0px;
}
.ArtifactsPanel{
	/*padding: 10px;*/
	min-width: 15em;
	/*width: 31%;*/
	/*max-width: 31%;*/
/*	overflow-x: none;
	overflow-y: hidden;*/
	/*background:#dddddd;*/
	/*border: 1px solid #cccccc;*/
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px;

}
.ArtifactsRowContainer{
	/*max-width: 410px; */
	//max-height: 500px;
	overflow-x: none;
	overflow-y: hidden;
	&:hover{
		overflow-x: none;
		overflow-y: auto;
	}
}
.ArtifactActionPanel{
	width:100%;
	text-align: center;

	height:34px;

}
/*.Artifact-onhover>ul{
	list-style: none;
	list-style-type: none; 

}*/

.ArtifactName{
	
	word-wrap: break-word;
	-moz-text-align:justify;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
}

.ArtifactActionPanel{
	.ActionElement {
      img {
        opacity: 0.5;
      }
      &:hover{
        img{
          opacity: 1;
        }
      }
	}
}

.Footer{
	background-color: #8F0000;
	color: white;
	text-align: center;
	border-radius:5px;
	margin: 10px 0px 0px 0px;
}


.ArtifactResposible{

	z-index: 1;
	background-color: rgba(40,29,35,0.9);
	color:white;
	max-height: 430px;
    max-width: 430px;
	overflow-y:hidden;
	//border-radius: 0px 5px 5px 0px;
}

.ArtifactsPanel{
	position:relative;
}
.ArtifactResposible:hover{
	overflow-y:auto;
}
.Responsible, .Responsible-Selected{
/*	padding: 0px 0px 2px 2px;*/
	/*border: 2px solid transparent;*/
	/*max-height: */

}

.Responsible:hover{
	background-color: rgba(92,81,79,0.5);
	/*color:orange;*/
}
.Responsible-Selected{
	background-color: rgba(92,201,79,0.5);
}
.ResponsibleConfirmation{
	line-height: 2em;
	text-align: center;
}
.ResponsibleConfirmation>span:hover{
	color:orange;
}
.InspectionSelected{
	min-height: 600px;

}

.ArtifactIcon {
	
}
