// Place all the styles related to the Chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ChatInner{
	height: 99%; /*don forget to substract border of parent*/

}
.ChatContainer{
	position: relative;
	height: 400px;
	/*max-width: 300px;*/
	/*min-width: 200px;*/
	/*min-width: 10px;*/
	/*padding: 10px 10px;*/
	/*border: 1px solid #cccccc;*/
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px;
	/*right:0px;*/
	/*top:0px;*/
	z-index: 2;
}
.MessageWindowInner{
	height: 100%; /*don forget to substract border of parent*/

}
.SendMessage{
	/*height: 30%; don forget to substract border of parent*/
	padding-top: 5px;

}
.MessageWindow{
	height: 70%; /*don forget to substract border of parent*/
}

.MessageWindowInner{
	overflow-x: none;
	overflow-y: scroll;
	/*Remove this crap after find out how to compensate bubble chanes when 
	scroll bar appear*/
	padding-right: 17px; 

}
.MessageWindowInner:hover{
	overflow-x: none;
	overflow-y: scroll;
	/*Remove this crap after find out how to compensate bubble chanes when 
	scroll bar appear. If there is no overflow that shit happens*/
	/*padding-right: 0px;*/
	
}

.MessageInner{
	background-color:#c6dbdd;
	min-height: 20px; /*somehow this rule does not override the one in the twitter bootstrap*/
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}
.MessageInner>p{
	margin: 0px 0px 0px;
}
.AuthorDigest{
	color: #212318;
}
/*Here current user is ment*/
.UserDigest{
	text-align: right;
}

.ChatTypeBox, ChatTypeBox:hover{
	width: 97%;/*Do something with width of text area. It is fucked
	*/	
}
.ChatTypeBox{
	overflow-x: none;

	overflow-y: hidden;

}
.ChatTypeBox:hover{
	overflow-x: none;
	overflow-y: auto;
}
