// Place all the styles related to the Remarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ACTRActionPanel{
  .ActionElement {
    img {
      opacity: 0.5;
    }
    &:hover{
      img{
        opacity: 1;
      }
    }
  }
}
.ArtifactSelector{
  max-width: 9em;
  width: auto;
}
.RemarkTypeSelector{
  max-width: 7em;
  width: auto;
}
RemarkTypeBox{
  max-width: 6em;
  width: auto;
}


.ArtifactComments{

  min-width: 45em;
}

.CommentsHeader{
  text-align: center;
  margin-top: 0.5em;
}
.CommentsClose{
  display: none;
  background-color: rgba(40,29,35,0.5);
  border:1px solid transparent;
  border-radius: 2px 2px 2px 2px;
  position: absolute;
  color:white;
  right:0px;
  top: 0px;
  width: 3em;
  height: 1em;
  line-height: 1em;
}
.CommentsClose:hover{
  background-color: rgba(0,0,0,0.5);
  color:orange;
}
/*ACTR stands for Artifact Comments Table's Row*/
.ACTR{
  height: 100%;
}
/*ACTR stands for Artifact Comments Table's Cell*/
.ACTC{
  //position: relative;
  //height: 100%;

}
.ACTRActionPanel{
  //position: absolute;
  //right: 0px;
  //top: 0px;
  //z-index: 2;
  //display:none;
  //background-color: rgba(40,29,35,0.5);

  //height:100%;
  width: 16px;
  text-align: center;
  //border-radius:0px 2px 2px 0px;
}
.CommentTable{
  //min-height: 450px;
}
//.RemarkField{
//  width: auto;
//  max-width: 10em;
//}
#remark_line_number{
   width: 6em;
}
#remark_element_name{
   width: 8em;
}
#remark_element_number{
   width: 6em;
}
#remark_element_type{
   width: 7em;
}
#remark_diagram{
   width: 10em;
}
#remark_path{
   width: 25em;
}
#remark_type{
   width: 8em;
}
#remark_location_type{
  width: auto;
}
#artifact_id{
  width: 8em;
}
#remark_content{
  width: 23em;
}
.table{
  th{
    padding: 0.2em;
  }
  td{
    padding: 0.2em;
  }
}
.RemarkCreatedAt, .RemarkUpdatedAt{
  //max-width: 5em;
}
.RemarkLocation{
  min-width: 5.5em;
}
.RemarkObject{
    min-width: 4.5em;
    word-wrap: break-word;
    -moz-text-align:justify;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
.RemarkContent{
  word-wrap: break-word;
  -moz-text-align:justify;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.InspectionHintMessage{
  margin: 1em 0em 0em 0em;
}
