// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.UserList{
  .InspectionSelect{
   width: auto;
   max-width: 15em;
  }
  .RoleSelect{
   width: auto;
  }
  .UserEntry{
    z-index: 1;
    background-color: rgba(40,29,35,0.9);
    color:white;
    max-width: 40em;
    overflow-y:hidden;
  }
}
.UserProfileAttibutes{
  padding-top: 1em;
  margin-left: 1em;
  height: 100%;
  label{
    width: 10em;
    margin-right: 1em;
  }
  input{
    width: 30em;
  }
}
.ProfilePicture{

}
.UserPartialCompact{
  .UserProfileAttibutes{
    padding-top: 0px;
    margin-left: 0.5em;
    max-width: 18em;
  }
  .ProfilePicture{
    max-width: 10em;
  }
  .thumbnail{
    border-color: #a4b1c9;
    background-color: whitesmoke;
    width: 29em;
    height: 11em;
    overflow-y: hidden;
    &:hover{
      overflow-y: auto;
    }
  }
}
.UserRoles, .UserInspections{
  margin-left: 1em;
  ul{
    margin: 0px;
    list-style: none;
  }
}
.UserPartial{
  .UserProfileAttibutes{
    padding-top: 0px;
    margin-left: 0.5em;
    max-width: 18em;
  }
  .ProfilePicture{
    max-width: 10em;
  }
  .thumbnail{
    border-color: #a4b1c9;
    background-color: whitesmoke;
    width: 29em;
    height: 11em;
    overflow-y: hidden;
    &:hover{
      overflow-y: auto;
    }
  }
  .GrantUserRoles{
    select{
      width: auto;
      max-width: 10em;
    }
  }
}
