<% if can? :create, InspectionTeam %>
    <div class="row">
      <div class="span6 offset3">
        <h1>Create new inspection team</h1>
        <!--make something with shared errors, since this is is inpection, user stuff does not work anymore-->
        <%= form_for @team do |t| %>

            <%- t.label :name %>
            <%= t.text_field :name, placeholder: "place campaign name here" %>




            <%= t.submit "Create", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
<% end %>

