

<!-- <div class="ArtifactResposible">
<div class="row-fluid Responsible">
   <div class="span4">
   	<img src="profile-pics/av-8714.jpg">
   </div>
   <div class="span8">
   	<h4>Alex the Inspector</h4>
      <p>Artifact 1, Artifact 3</p>
 	</div>   
</div>
<div class="row-fluid Responsible-Selected">
   <div class="span4">
   	<img src="profile-pics/av-8714.jpg">
   </div>
   <div class="span8">
   	<h4>Alex the Inspector</h4>
      <p>Artifact 1, Artifact 3</p>
 	</div>   
</div>
<div class="row-fluid Responsible">
   <div class="span4">
   	<img src="profile-pics/av-8714.jpg">
   </div>
   <div class="span8">
   	<h4>Alex the Inspector</h4>
      <p>Artifact 1, Artifact 3</p>
 	</div>   
</div>  
<div class="row-fluid Responsible">
   <div class="span4">
   	<img src="profile-pics/av-8714.jpg">
   </div>
   <div class="span8">
   	<h4>Alex the Inspector</h4>
      <p>Artifact 1, Artifact 3</p>
 	</div>   
</div>
<div class="row-fluid ResponsibleConfirmation">
	<span class="span6"> Cancel </span>
	<span class="span6"> Confirm </span>
</div>
</div> -->

