<div class="row">
	<div class="span9 offset3">
		<h1>Upload a new artifact</h1>
			<!--make something with shared errors, since this is is inpection, user stuff does not work anymore-->
			<%= form_tag ({controller: "artifacts", action: "create"}), multipart: true do %>
    			<%= file_field_tag 'artifact' %>

    			<%= submit_tag "Send Attachment" %>
			<% end %>
		
	</div>
</div>