
  <div class="">
    <%= content_tag :div, class: "chevron status#{status.titleize}", id: "status#{status.titleize}" do -%>
        <% if status == inspection.status %>
            <div class="chevron-fletching currentStatusChevronFletching"></div>
            <%= link_to deadlines[status], '#', class: "chevron-body currentStatusChevronBody", id: "dp#{status}", data: { date: deadlines[status], date_format: "yyyy-mm-dd", date_autoclose: "true" } %>
            <% content_tag(:div, deadlines[status], class: "chevron-body currentStatusChevronBody") %>
            <div class="chevron-head currentStatusChevronHead"></div>
        <% else %>
            <div class="chevron-fletching"></div>
            <%= link_to deadlines[status], '#', class: "chevron-body", id: "dp#{status}", data: { date: deadlines[status], date_format: "yyyy-mm-dd", date_autoclose: "true" } %>
            <% content_tag(:div, deadlines[status], class: "chevron-body") %>
            <div class="chevron-head"></div>
        <% end %>
    <% end %>
  </div>
