<div class="row-fluid InspectionStatusBarContainer" id="InspectionStatusBarContainer">
  <div class="InspectionStatusBar">
    <div class="">
      <div class="chevron" id="statusPreparation">
        <% if status == "preparation" %>
            <div class="chevron-fletching currentStatusChevronFletching"></div>
            <div class="chevron-body currentStatusChevronBody">preparation</div>
            <div class="chevron-head currentStatusChevronHead"></div>
        <% else %>
            <div class="chevron-fletching"></div>
            <div class="chevron-body">preparation</div>
            <div class="chevron-head"></div>
        <% end %>
      </div>
    </div>
    <div class="">
      <div class="chevron statusInspection">
        <% if status == "inspection" %>
            <div class="chevron-fletching currentStatusChevronFletching"></div>
            <div class="chevron-body currentStatusChevronBody">inspection</div>
            <div class="chevron-head currentStatusChevronHead"></div>
        <% else %>
            <div class="chevron-fletching"></div>
            <div class="chevron-body">inspection</div>
            <div class="chevron-head"></div>
        <% end %>
      </div>
    </div>
    <div class="">
      <div class="chevron statusRework">
        <% if status == "rework" %>
            <div class="chevron-fletching currentStatusChevronFletching"></div>
            <div class="chevron-body currentStatusChevronBody">rework</div>
            <div class="chevron-head currentStatusChevronHead"></div>
        <% else %>
            <div class="chevron-fletching"></div>
            <div class="chevron-body">rework</div>
            <div class="chevron-head"></div>
        <% end %>
      </div>
    </div>
    <div class="">
      <div class="chevron statusFinished">
        <% if status == "finished" %>
            <div class="chevron-fletching currentStatusChevronFletching"></div>
            <div class="chevron-body currentStatusChevronBody">finished</div>
            <div class="chevron-head currentStatusChevronHead"></div>
        <% else %>
            <div class="chevron-fletching"></div>
            <div class="chevron-body">finished</div>
            <div class="chevron-head"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>