<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <h3>
        <%= link_to 'Create new inspection', new_inspection_url %>
      </h3>
    </div>
    <div class="row-fluid">
      <% if @inspections.any? %>
          <h1>List of inspections</h1>
          <ul class="thumbnails">
            <% inspections_html = render partial: 'inspections/inspection', collection: @inspections, as: :insp %>
            <%= inspections_html || 'there are no inspections'%>
          </ul>
      <% else %>
          <strong>There are no inspections</strong> <%= link_to 'Create new inspection', new_inspection_url %>
      <% end %>
    </div>

  </div>
</div>